.section-banner {
  background: #27273e;
  margin-bottom: 1.5%;
}

.banner {
  display: flex;
  height: 393px;
  background: #27273e;
  justify-content: center;
}

.banner__img {
  align-items: flex-start;
  height: 359px;
  background: #27273e;
  height: 100%;
}
