.breadcr {
margin-bottom:12px;
}
.breadcr__item {
  vertical-align: middle;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.3;
  font-family: "GothamPro", Helvetica, sans-serif;
  font-style: italic;
}

.breadcr__link,
.breadcr__separator {
  color: #ec1e79;
  vertical-align: middle;
}

.breadcr__link {
  text-decoration: none;
  border-bottom: 1px solid rgba(236, 30, 121, 0.2);
  
}

.breadcr__item_active .breadcr__link {
  color: #000;
  text-decoration: none;
  border-bottom: none;
}

.breadcr__item:after {
  content: "/";
  vertical-align: middle;
}

.breadcr__item_active:after {
  content: none;
}
