.contacts {
  text-align: right;
  display: block;
  position: relative;
  height: 100%;
}

.contacts__phone {
  margin-top: 6px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 21px;
  line-height: 1;
  display: block;
}

.schedule {
  position: relative;
}

.schedule__btn {
  display: inline-block;
  font-family: OpenSans, sans-serif;
  color: rgba(236, 30, 121, 0.7);
  font-weight: bold;
  text-decoration: underline;
  font-size: 14px;
  text-align: right;
  }

.schedule:hover .schedule__btn {
  color: #7faad4;
}

.schedule__wrapper {
  height: 0px;
  transition: height 0.2s;
  overflow: hidden;
  width: 225px;
  position: absolute;
  top: 20px;
  right: 3px;
}

.schedule__block {
  height: 74%;
  width: 79%;
  margin-left: 45px;
  margin-top: 16px;
  background-color: #fff;
  position: relative;
  font-size: 14px;
  padding: 10px 19px;
  box-shadow: 0 0 8px rgba(71, 78, 88, 0.4);
  opacity: 0.95;
  text-align: left;
  border-radius: 3px;
  white-space: nowrap;
}

.schedule__block::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: -15px;
  right: 0;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  border-width: 0 15px 15px 15px;
}

.schedule:hover .schedule__wrapper {
  height: 78px;
}

.schedule__work {
  color: #ec1e79;
  font-weight: bold;
}
