.footer {
  background: #27273e;
  width: 100%;
  flex: 1;
}

.footer__container {
  display: flex;
  min-height: 77px;
  flex-direction: row;
  position: relative;
  flex-wrap: wrap;
  padding: 10px 0;
}

.footer__container {
  display: flex;
  position: relative;
  min-height: 77px;
}

.footer__col {
  flex: 1;
  display: flex;
  align-items: center;
}

.footer__col-socials {
  justify-content: flex-end;
  margin-right: 22px;
}

.footer__col-author {
  margin-left: 20px;
  line-height: 1.2em;
}

.footer__col_align-right {
justify-content: flex-end;
margin-right: 1.6%;
margin-top: 0.2%;
}


