.form__wrapper {
  height: initial;
}

.form__container {
  margin-left: 0;
  width: 768px;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 5.5%;
}

.form-section {
  background: #f5f5f5;
  border-radius: 3px;
  padding: 5% 13% 7%;
}

.form__content {
  display: flex;
  flex-direction: column;
}

.form__row {
  display: flex;
  margin-bottom: 2.3%;
}

.form__block-title {
  margin-bottom: 5px;
}

.form__block {
  flex: 1;
  margin-right: 23px;
}

.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  padding: 16px 10px;
  border: 1px solid #fff;
  border-radius: 4px;
  outline: none;
}

.form__input:focus {
  border: 1px solid #ec1e79;
}

.form__input::placeholder {
  color: rgba(34, 31, 31, 0.5);
  font-weight: 300;
  font-size: 14px;
}

.form__input--textarea {
  height: 90px;
  resize: vertical;
}

.form__buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.form-controls__title {
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 5px;
}

.form-controls__buttons {
  display: flex;
}

.form-controls__btn {
  display: inline-flex;
  align-items: center;
  margin-right: 6%;
  cursor: pointer;
}

.form-controls__btn:last-child {
  margin-right: 0;
}

.form-controls__real-radio {
  display: none;
}

.form-controls__fake-radio {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #c9c9c9;
  background-image: linear-gradient(to top, #ededed, #ffffff);
  position: relative;
  margin-right: 10px;
}

.form-controls__real-radio:checked~.form-controls__fake-radio:after {
  width: 8px;
  height: 8px;
}

.form-controls__real-radio:checked~.form-controls__fake-radio {
  border-color: #ec1e79;
}

.form-controls__real-radio:checked~.form-controls__btn-title {
  color: #ec1e79;
}

.form-controls__fake-radio:after {
  content: "";
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: #ec1e79;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s;
}

.btn {
  padding: 16px 21px;
  border-radius: 3px;
  letter-spacing: 2.4px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  background-color: #27273e;
  transition: background-color 0.7s;
}

.btn:hover {
  background-color: #ec1e79;
  transition: 0.2s;
}

.form__buttons-item {
  margin-right: 10px;
}

.form__buttons-item:last-child {
  margin-right: 0px;
}

