.wrapper--auth {
	min-width: 1100px;
	height: 100%;
	background: url('../../img/decor/main-picture_workadium.jpg') center center / cover no-repeat;
	background-size: cover;
	position: relative;
}

.wrapper__container {
	position: absolute;
	top: 50%;
	left: 50%;
  transform: translate(-50%, -50%);
}

.welcome__logo {
	margin-bottom: 25px;
	text-align: center;
}

.welcome__logo-btn {
	display: inline-block;
}

.welcome__logo-btn {
  border: 3px solid #ec1e79;
	padding: 14px 22px;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #ec1e79;
	vertical-align: middle;
  text-decoration: none;
  text-align: center;
  transition: all 0.5s;
}

.welcome__logo-btn:hover {
	background-color: #ec1e79;
  color: #ffffff;
}

.welcome {
  animation: rotate 0.5s 0.5s both;
}

@keyframes rotate {
  0% {
    opacity: 0;
    transform: scale(.1) rotate(-25deg); 
  }

  30% {
    transform: rotate(10deg);
  }
  60% {
    opacity: 1;
    transform: rotate(-10deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
  }

}
