.title {
  margin: 0 0 37px 0;
  font-family: "GothamPro", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 49px;
}

.news__title {
margin-bottom: 60px;
}

.form-review__title {
  margin-bottom: 8px;
}

.features__title {
  margin-top: 5px;
}

 .title__sidebar {
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  margin: 25px auto;
 }

 .title_lastnews {
   margin-top: -2%;
   margin-bottom: 7%;
 }
 
 .feature__title_aside {
  display: flex;
  justify-content: center;
  font-family: "GothamPro", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 11px;
  letter-spacing: 0.2em;
  margin-bottom: 3%;
}