* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: "GothamPro", Helvetica, sans-serif;
  line-height: 1.42;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  overflow: hidden;
  min-width: 1200px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper__content {
  flex: 1;
}

.container {
  margin: 0 auto;
  width: 1200px;
  height: 100%;
}

.page__container {
  display: flex;
}

.sidebar {
  width: 22.85%;
  margin-right: 21px;
  margin-left: 23px;
}

.page-content {
  width: 73%;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  display: inline-block;
}

h1, h2, h3,h4, h5, h6 {
  font-weight: normal; 
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
