<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1100, initial-scale=1.0">
    {#    <meta http-equiv="X-UA-Compatible" content="ie=edge">#}

    <title>{% block title %}{% endblock title %}</title>
    {% block favicon %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">{% endblock favicon %}
    {% block stylesheets %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=1100, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="{{ asset('styles.css') }}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=cyrillic" rel="stylesheet">
    {% endblock stylesheets %}
</head>
<body>
{% block body %}

    {% block header %}

        <header class="header">
            <div class="container header__container">
                <div class="header__col">
                    <a href="{{ path('app_homepage') }}" class="logo"><img src="{{ asset('/img/logo/logo.png') }}"
                                                                           alt="logo" class="logo__image"></a>
                </div>
                <div class="header__col header__col_align-right">
                    <adress class="contacts">
                        <a href="tel:88000039210" class="contacts__phone">8 (800) 00-392-10</a>
                        <div class="schedule">
                            <button class="schedule__btn">График работы</button>
                            <div class="schedule__wrapper">
                                <div class="schedule__block">
                                    <div class="schedule__work">пн-вс: 09:00-20:00</div>
                                    <div class="schedule__break">обед: 14:00-14:30</div>
                                </div>
                            </div>
                        </div>
                    </adress>
                </div>
            </div>
        </header>

    {% endblock header %}

    {% block socials %}
        <div class="socials">
            <div class="socials__display">Наши социальные сети</div>
            <ul class="socials__list">
                <li class="socials__item">
                    <a href="#" class="socials__names socials__vk">
                        мы во вконтакте</a>
                </li>
                <li class="socials__item">
                    <a href="#" class="socials__names socials__fb">
                        мы в фейсбуке</a>
                </li>
                <li class="socials__item">
                    <a href="#" class="socials__names socials__g-plus">
                        мы в гугл плюсе+</a>
                </li>
                <li class="socials__item">
                    <a href="#" class="socials__names socials__twitter">
                        мы в твиттере</a>
                </li>
                <li class="socials__item">
                    <a href="#" class="socials__names socials__mail">
                        написать нам на почту</a>
                </li>
            </ul>
        </div>
    {% endblock socials %}

    {% block nav %}
        <nav class="menu">
            <ul class="menu__list">
                <li class="menu__item ">
                    <a href="{{ path('app_homepage') }}" class="menu__link">
                        <div class="menu__icon menu__icon_main"></div>
                        <div class="menu__title">Главная</div>
                    </a>
                </li>
                {#                <li class="menu__item menu__item_active">#}
                <li class="menu__item">
                    <a href="{{ path('reviews_page') }}" class="menu__link">
                        <div class="menu__icon menu__icon_feed"></div>
                        <div class="menu__title">Отзывы</div>
                    </a>
                </li>
                <li class="menu__item">
                    <a href="{{ path('prices_page') }}" class="menu__link">
                        <div class="menu__icon menu__icon_wallet"></div>
                        <div class="menu__title">Тарифы</div>
                    </a>
                </li>
            </ul>
        </nav>
    {% endblock nav %}

    {% block footer %}
        <footer class="footer">
            <div class="container footer__container">

                <div class="footer__col footer__col-author">
                    <div class="work-author">
                        Сделано с любовью и старанием на курсе «HTML + CSS» в
                        <a href="https://loftschool.com" class="work-author__loftschool-link">LoftSchool.</a> Автор
                        работы: <span
                                class="work__author-name">
            Бродников Сергей</span></div>
                </div>

                <div class="footer__col footer__col_align-right">
                    <a href="{{ path('app_homepage') }}" class="logo"> <img src="{{ asset('./img/logo/logo.png') }}"
                                                                            alt="Логотип Коворкинг" class="logo__image"></a>
                </div>
            </div>
        </footer>
    {% endblock footer %}

    {% block javascripts %}{% endblock %}

{% endblock body %}

</body>

</html>
