{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock title %}

{% block body %}

    <div class="wrapper">
        <div class="wrapper__content">

            {% block header %}

            <header class="header header_main">
                <div class="container header__container">
                    <div class="header__col">
                        <a href="{{ path('app_homepage') }}" class="logo"><img src="{{ asset('./img/logo/logo.png') }}" alt="logo" class="logo__image"></a>
                    </div>
                    <div class="header__col header__col_nav">

                        {% block nav %}
                        <nav class="menu">
                            <ul class="menu__list">
                                <li class="menu__item menu__item_in-header menu__item_active">
                                    <a href="{{ path('app_homepage') }}" class="menu__link">
                                    <div class="menu__link menu__icon menu__icon_main"></div>
                                    <div class="menu__title">Главная</div>
                                </li>
                                <li class="menu__item menu__item_in-header">
                                    <a href="{{ path('reviews_page') }}" class="menu__link">
                                        <div class="menu__icon menu__icon_feed"></div>
                                        <div class="menu__title">Отзывы</div>
                                    </a>
                                </li>
                                <li class="menu__item menu__item_in-header">
                                    <a href="{{ path('prices_page') }}" class="menu__link">
                                        <div class="menu__icon menu__icon_wallet"></div>
                                        <div class="menu__title">Тарифы</div>
                                    </a>
                                </li>
                            </ul>
                        </nav>

                        {% endblock nav %}

                    </div>
                    <div class="header__col header__col_align-right">
                        <address class="contacts">
                            <a href="tel:88000039210" class="contacts__phone">8 (800) 00-392-10</a>
                            <div class="schedule">
                                <button class="schedule__btn">График работы</button>
                                <div class="schedule__wrapper">
                                    <div class="schedule__block">
                                        <div class="schedule__work">пн-вс: 09:00-20:00</div>
                                        <div class="schedule__break">обед: 14:00-14:30</div>
                                    </div>
                                </div>
                            </div>
                        </address>
                    </div>
                </div>
            </header>

            {% endblock header %}

            <!-- Баннер -->

            <section class="section-banner">
                <div class="container banner__container">
                    <div class="banner">
                        <img src="{{ asset('./img/decor/new-banner.jpg') }}" class="banner__img"
                             alt="Баннер коворкинг"/>
                    </div>
                </div>
            </section>


            <!--Основная страница (page)-->

            <div class="container page__container">

                <!--Сайдбар-->

                <aside class="sidebar">
                    <!--Раздел "Особенности"-->
                    <section class="features-section">
                        <h2 class="title title__sidebar">Топ-тариф</h2>

                        <div class="features__content">
                            <ul class="feature__content">

                                <li class="feature__item">
                                    <div class="feature__pic"></div>
                                    <div class="feature__title_aside ">Уникальность</div>
                                    <div class="feature__description">Создан для вашего комфортного отдыха
                                        <ul class="feature__list">
                                            <li class="feature__list-point">Кофе/чай</li>
                                            <li class="feature__list-point">Шкаф (5кг)</li>
                                            <li class="feature__list-point">Рабочее место</li>
                                        </ul>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </section>

                    {% block socials %}
                    {{ parent() }}
                    {% endblock socials %}

                </aside>


                <div class="page-content">

                    <!--Раздел "Последние новости"-->

                    <section class="news-section">
                        <h2 class="title title_lastnews">{{ heading }}</h2>

                        <ul class="news">
                            <li class="news__item">
                                <div class="news__thumb">
                                    <div class="news__thumb-pic">
                                        <img src="{{ asset('./img/content/thumb/news-blackhole.jpg') }}"
                                             alt="аватар новостей" class="news__avatar-pic">
                                    </div>
                                </div>
                                <div class="news__content">
                                    <time class="news__date">12.10.2016</time>
                                    <div class="news__author">Чёрная дыра скидок!</div>
                                    <p class="news__text">Ключевым технологическим партнером GrowUp является дата-центр
                                        Миран,
                                        расположенный всего лишь в 500 метрах от здания, а значит, скорость интернета
                                        будет стабильной в
                                        любое время суток. Коворкинг работает в формате 24/7.
                                    </p>
                                </div>
                            </li>
                            <li class="news__item">
                                <div class="news__thumb">
                                    <div class="news__thumb-pic">
                                        <img src="{{ asset('./img/content/thumb/news-pinkfire.jpg') }}"
                                             alt="аватар новостей" class="news__avatar-pic">
                                    </div>
                                </div>
                                <div class="news__content">
                                    <time class="news__date">01.02.2016</time>
                                    <div class="news__author">Заражай друзей, получай призы!</div>
                                    <p class="news__text">Быть частью сообщества сильных, грамотных и увлеченных своим
                                        делом
                                        профессионалов - вдохновляет выходить на новые уровни развития.<br/> Регулярно в
                                        коворкинге
                                        проводятся
                                        лекции, мастер-классы, встречи с инвесторами или менторами для резидентов. </p>
                                </div>
                            </li>
                            <li class="news__item">
                                <div class="news__thumb">
                                    <div class="news__thumb-pic">
                                        <img src="{{ asset('./img/content/thumb/news-workplace.jpg') }}"
                                             alt="аватар новостей" class="news__avatar-pic">
                                    </div>
                                </div>
                                <div class="news__content">
                                    <time class="news__date">22.12.2015</time>
                                    <div class="news__author">Новое рабочее место для бизнесменов.</div>
                                    <p class="news__text">Для резидентов коворкинга оборудована не только рабочая зона,
                                        но и зона
                                        отдыха. Она включает в себя: кухонную зону и зону релакса.<br/>
                                        Каждый резидент может беспрепятственно пользоваться кухонным оборудованием:
                                        микроволновкой,
                                        чайником, кофе машиной, посудой.</p>
                                </div>
                            </li>
                        </ul>
                    </section>

                    <!-- Pagination-->

                    <div class="pagination pagination_align-left">
                        <div class="pagination__display">Страница 1 из 7</div>
                        <div class="pagination__controls">
                            <ul class="pagination__list">
                                <li class="pagination__prev"><a class="pagination__link" href="#">&lt;</a>
                                </li>
                                <li class="pagination__item pagination__link_active">
                                    <a href="#" class="pagination__link">1</a>
                                </li>
                                <li class="pagination__item ">
                                    <a href="#" class="pagination__link">2</a>
                                </li>
                                <li class="pagination__item">
                                    <a href="#" class="pagination__link">3</a>
                                </li>
                                <li class="pagination__item ">
                                    <a href="#" class="pagination__link">4</a>
                                </li>
                                <li class="pagination__item">
                                    <a href="#" class="pagination__link">5</a>
                                </li>
                                <li class="pagination__item">
                                    <a href="#" class="pagination__link">6</a>
                                </li>
                                <li class="pagination__item">
                                    <a href="#" class="pagination__link">7</a>
                                </li>
                                <li class="pagination__next"><a class="pagination__link" href="#">&gt;</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--Закрывает page-content>-->
            </div>
            <!--Закрывает page__container-->
        </div>
        <!--закрывает wrapper__content-->
    </div>


    {#<div>#}
    {#    <p>#}
    {#        Некоторое содержание#}
    {#    </p>#}
    {#</div>#}

    {#<h2>Comments ({{ comments|length }})</h2>#}
    {#<ul>#}
    {#    {% for comment in comments %}#}
    {#        <li>{{ comment }}</li>#}
    {#    {% endfor %}#}
    {#</ul>#}


    {% block footer %}
        {{ parent() }}
    {% endblock footer %}

{% endblock body %}


