{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock title %}

{% block body %}

    <div class="wrapper">
        <div class="wrapper__content">


            {% block header %}
                {{ parent() }}
            {% endblock header %}

            <!--Основная страница (page)-->

            <div class="container page__container">

                <!--Сайдбар-->

                <aside class="sidebar">
                    <section class="partners">
                        <h2 class="title title__sidebar">Партнёры</h2>

                        <ul class="partners__list">
                            <li class="partners__item">
                                <a href="" class="partners__link">
                                    <div class="partners__logo">
                                        <img src="./img/content/logo/logo-1.png"
                                             alt="Логотип партнёра Винтер канцелярия" class="partners__logo-pic">
                                    </div>
                                </a>
                            </li>
                            <li class="partners__item">
                                <a href="" class="partners__link">
                                    <div class="partners__logo">
                                        <img src="./img/content/logo/logo-4.png" alt="Логотип партнёра Тишкин"
                                             class="partners__logo-pic">
                                    </div>
                                </a>
                            </li>
                            <li class="partners__item">
                                <a href="" class="partners__link">
                                    <div class="partners__logo">
                                        <img src="./img/content/logo/logo-2.png" alt="Логотип партнёра Дроп"
                                             class="partners__logo-pic">
                                    </div>
                                </a>
                            </li>
                            <li class="partners__item">
                                <a href="" class="partners__link">
                                    <div class="partners__logo">
                                        <img src="./img/content/logo/logo-3.png"
                                             alt="Логотип партнёра Библиотека Анна Ахматова" class="partners__logo-pic">
                                    </div>
                                </a>
                            </li>
                            <li class="partners__item">
                                <a href="" class="partners__link">
                                    <div class="partners__logo">
                                        <img src="./img/content/logo/logo-5.png" alt="Логотип партнёра Пуфок"
                                             class="partners__logo-pic">
                                    </div>
                                </a>
                            </li>
                            <li class="partners__item">
                                <a href="" class="partners__link">
                                    <div class="partners__logo">
                                        <img src="./img/content/logo/logo-6.png"
                                             alt="Логотип партнёра Винтер канцелярия" class="partners__logo-pic">
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </section>

                    {% block socials %}
                        {{ parent() }}
                    {% endblock socials %}

                </aside>

                <div class="page-content">

                    {% block nav %}
                        {{ parent() }}
                    {% endblock nav %}

                    <!--Раздел "Тарифы"-->

                    <section class="tariffs">
                        <h2 class="title title_prices-layout"> {{ heading }} </h2>

                        <div class="tariff__section">
                            <ul class="tariff">
                                <li class="tariff__item">
                                    <div class="tariff__thumb-wrapper">
                                        <div class="tariff__thumb">
                                            <div class="tariff__img">
                                                <img src="./img/content/tariff/tariff-1.png" alt="Тариф ОДИН"
                                                     class="tariff-pic">
                                                <div class="tariff__filter"></div>
                                                <div class="tariff__title">&#171Один&#187</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tariff__desc">
                                        <div class="tariff__price">
                                            800 руб/мес или 100 руб/сутки
                                        </div>
                                        <p class="tariff__text">
                                            Оплачивается рабочее место на 1 человека. Есть возможность оплаты с
                                            привязкой к определенному
                                            физическому месту. При оплате за год, скидка 30%
                                        </p>
                                    </div>
                                </li>
                                <li class="tariff__item">
                                    <div class="tariff__thumb-wrapper">
                                        <div class="tariff__thumb">
                                            <div class="tariff__img">
                                                <img src="./img/content/tariff/tariff-2.png" alt="Тариф ТРИ"
                                                     class="tariff-pic">
                                                <div class="tariff__filter"></div>
                                                <div class="tariff__title">&#171Трое&#187</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tariff__price">
                                        1500 руб/мес или 200 руб/сутки
                                    </div>
                                    <p class="tariff__text">
                                        Оплачивается стол на 3 рабочих места. При этом можно ими пользоваться как
                                        одновременно, так и
                                        поочередно. Можно пользоваться офисной техникой и выделенным шкафом для
                                        документов.
                                    </p>
                                </li>
                                <li class="tariff__item">
                                    <div class="tariff__thumb-wrapper">
                                        <div class="tariff__thumb">
                                            <div class="tariff__img">
                                                <img src="./img/content/tariff/tariff-3.png"
                                                     alt="Тариф десять на десять" class="tariff-pic">
                                                <div class="tariff__filter"></div>
                                                <div class="tariff__title">«10-10»</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tariff__price">
                                        10000 руб/мес
                                    </div>
                                    <p class="tariff__text">
                                        Оплачивается 10 рабочих мест на любые 10 дней месяца. Отлично подходит для
                                        периодической работы
                                        команды сотрудников без строгой привязки к рабочему месту. При оплате на год
                                        вперед скидка 25%
                                    </p>
                                </li>
                                <li class="tariff__item">
                                    <div class="tariff__thumb-wrapper">
                                        <div class="tariff__thumb">
                                            <div class="tariff__img">
                                                <img src="./img/content/tariff/tariff-4.png"
                                                     alt="Тариф ВИАЙПИ, Безлимит на одного" class="tariff-pic">
                                                <div class="tariff__filter"></div>
                                                <div class="tariff__title"><span class="vip__color">VIP</span>
                                                    &#171Безлимит на одного&#187
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tariff__price">
                                        2500 руб/мес
                                    </div>
                                    <p class="tariff__text">
                                        В стоимость включена не только оплата рабочего места, но и пользование
                                        копировальной техникой,
                                        бесплатный кофе или чай в течение дня, возможность использования зала для
                                        переговоров при
                                        предварительном бронировании 1 раз в месяц.
                                    </p>
                                </li>
                                <li class="tariff__item">
                                    <div class="tariff__thumb-wrapper">
                                        <div class="tariff__thumb">
                                            <div class="tariff__img">
                                                <img src="./img/content/tariff/tariff-5.png"
                                                     alt="Тариф ВИАЙПИ, всё включено" class="tariff-pic">
                                                <div class="tariff__filter"></div>
                                                <div class="tariff__title"><span class="vip__color">VIP</span><br/>
                                                    &#171Всё включено&#187
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tariff__price">
                                        Цена рассчитывается индивидуально
                                    </div>
                                    <p class="tariff__text">
                                        Оплачивается необходимое число рабочих мест с привязкой к фактическому
                                        местонахождению. В стоимость
                                        включены рабочие столы, мебель для хранения документов, отдельный принтер и
                                        копировальный автомат.
                                    </p>
                                </li>
                                <li class="tariff__item">
                                    <div class="tariff__thumb-wrapper">
                                        <div class="tariff__thumb">
                                            <div class="tariff__img">
                                                <img src="./img/content/tariff/tariff-6.png" alt="Тариф переговоры"
                                                     class="tariff-pic">
                                                <div class="tariff__filter"></div>
                                                <div class="tariff__title">&#171Переговоры&#187</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tariff__price">
                                        2500руб/час
                                    </div>
                                    <p class="tariff__text">
                                        Аренда среднего зала. Есть возможность раннего бронирования конференц-залов со
                                        скидкой до 30% при
                                        полной предоплате.
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
                <!--Закрывает page-content>-->
            </div>
            <!--Закрывает page__container-->
        </div>
        <!--закрывает wrapper__content-->
    </div>

    {% block footer %}
        {{ parent() }}
    {% endblock footer %}

{% endblock body %}