{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock title %}

{% block body %}

    <div class="wrapper">
        <div class="wrapper__content">

            {% block header %}
                {{ parent() }}
            {% endblock header %}

            <!--Основная страница (page)-->

            <div class="container page__container">


                <!--Сайдбар-->

                <aside class="sidebar">

                    <!--Скидка-->

                    <section class="discount">
                        <div class="container discount__container">
                            <div class="discount__text">Для наших новых клиентов мы предлагаем <span class="discount-text_pink">скидку
                  50%</span> на первый день! Приходите, чтобы лично оценить преимущества коворкинга «Воркадиум»!</div>
                        </div>
                    </section>

                    {% block socials %}
                        {{ parent() }}
                    {% endblock socials %}

                </aside>

                <div class="page-content">

                    <!-- раздел nav -->

                    {% block nav %}
                    {{ parent() }}
                    {% endblock nav %}

                    <!--Раздел "Отзывы"-->

                    <section class="reviews-section">
                        <h2 class="title reviews__title"> {{ heading }} </h2>

                        <ul class="reviews">
                            <li class="reviews__item">
                                <div class="reviews__thumb">
                                    <div class="reviews__thumb-pic">
                                        <img src="./img/content/avatar/ava-1.jpg" alt="Аватар автора отзыва" class="reviews__avatar-pic">
                                    </div>
                                </div>
                                <div class="reviews__content">
                                    <time class="reviews__date reviews__date_comments-layout">12.10.2016</time>
                                    <div class="reviews__author reviews__author_comments-layout">Олег Павлов</div>
                                    <p class="reviews__text reviews__text_comments-layout">Пользуемся услугами коворкинга стабильно раз в неделю, когда проводим
                                        совещания директоров. Получается намного дешевле и удобно всем добираться. Единственное пожелание –
                                        расширить меню, потому что бизнес-ланчи – это все таки средний уровень, а хочется чего то более
                                        вкусного, чтобы можно было угощать начальство.
                                    </p>
                                </div>
                            </li>
                            <li class="reviews__item">
                                <div class="reviews__thumb">
                                    <div class="reviews__thumb-pic">
                                        <img src="./img/content/avatar/ava-2.jpg" alt="Аватар автора отзыва" class="reviews__avatar-pic">
                                    </div>
                                </div>
                                <div class="reviews__content">
                                    <time class="reviews__date reviews__date_comments-layout">01.02.2016</time>
                                    <div class="reviews__author reviews__author_comments-layout">Эрнест Изиль</div>
                                    <p class="reviews__text reviews__text_comments-layout">Я фрилансер, программист, работать дома не могу, так как мешают дети.
                                        Здесь нашел то, что давно искал – тишину и спокойствие. Эффективность работы выросла, как и
                                        гонорары.
                                        Очень удобно, что коворкинг находится недалеко от метро. Стабильный интернет, чистота и порядок
                                        вокруг,
                                        никто не мешает. Цены сначала показались высокими, но учитывая полученные преимущества, все
                                        отлично!</p>
                                </div>
                            </li>
                            <li class="reviews__item">
                                <div class="reviews__thumb">
                                    <div class="reviews__thumb-pic">
                                        <img src="./img/content/avatar/ava-default.jpg" alt="Аватар автора отзыва" class="reviews__avatar-pic">
                                    </div>
                                </div>
                                <div class="reviews__content">
                                    <time class="reviews__date reviews__date_comments-layout">22.12.2015</time>
                                    <div class="reviews__author reviews__author_comments-layout">Елена Сургай</div>
                                    <p class="reviews__text reviews__text_comments-layout">Захожу сюда не часто, так как не мой район, но когда бываю в центре, то
                                        периодически нужно место для плодотворной работы. Интернет-клубы не подходят, так как не
                                        обеспечивают такой уровень сервиса, как Воркадиум. Здесь я нахожу вдохновение и могу выделить время
                                        для
                                        творчества. Желаю Воркадиуму процветания и развития. Если будете открывать филиалы, обратите
                                        внимание на Алексеевский район, я буду вашим постоянным клиентом :) </p>
                                </div>
                            </li>
                            <li class="reviews__item">
                                <div class="reviews__thumb">
                                    <div class="reviews__thumb-pic">
                                        <img src="./img/content/avatar/ava-3.jpg" alt="Аватар автора отзыва" class="reviews__avatar-pic">
                                    </div>
                                </div>
                                <div class="reviews__content">
                                    <time class="reviews__date reviews__date_comments-layout">14.08.2015</time>
                                    <div class="reviews__author reviews__author_comments-layout">Наталья Осадчая</div>
                                    <p class="reviews__text reviews__text_comments-layout">Провожу здесь встречи с клиентами в неформальной обстановке. Удобно, что
                                        при необходимости все под рукой – и ксерокс, и принтер и магазин канцелярии. Заключаю здесь свои
                                        лучшие
                                        договора. Единственное пожелание – сделайте еще несколько переговорных комнат на 10-15 человек, а
                                        то они пользуются большим спросом и не всегда есть возможность забронировать.</p>
                                </div>
                            </li>
                        </ul>

                        <!-- Pagination-->

                        <div class="pagination">
                            <div class="pagination__display">Страница 1 из 7</div>
                            <div class="pagination__controls">
                                <ul class="pagination__list">
                                    <li class="pagination__prev"> <a class="pagination__link" href="#">&lt;</a>
                                    </li>
                                    <li class="pagination__item pagination__link_active">
                                        <a href="#" class="pagination__link">1</a>
                                    </li>
                                    <li class="pagination__item ">
                                        <a href="#" class="pagination__link">2</a>
                                    </li>
                                    <li class="pagination__item">
                                        <a href="#" class="pagination__link">3</a>
                                    </li>
                                    <li class="pagination__item ">
                                        <a href="#" class="pagination__link">4</a>
                                    </li>
                                    <li class="pagination__item">
                                        <a href="#" class="pagination__link">5</a>
                                    </li>
                                    <li class="pagination__item">
                                        <a href="#" class="pagination__link">6</a>
                                    </li>
                                    <li class="pagination__item">
                                        <a href="#" class="pagination__link">7</a>
                                    </li>
                                    <li class="pagination__next"><a class="pagination__link" href="#">&gt;</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>

                    <!--Форма отзыва-->

                    <div class="form__wrapper">
                        <div class="container form__container">
                            <section class="form-section">

                                <form action="#" name="form" class="form__elem">
                                    <h2 class="title form-review__title">Оставить отзыв</h2>
                                    <div class="form__content">

                                        <div class="form__row">
                                            <label class="form__block">
                                                <div class="form__block-title">Ваше имя</div>
                                                <input type="text" class="form__input" name="user-name" placeholder="Андрей" />
                                            </label>
                                            <label class="form__block">
                                                <div class="form__block-title">Ссылка на профиль VK</div>
                                                <input type="text" class="form__input" name="vk-link" placeholder="vk.com/example" />
                                            </label>
                                        </div>
                                        <div class="form__row">
                                            <label class="form__block">
                                                <div class="form__block-title">Текст отзыва</div>
                                                <textarea type="text" class="form__input form__input--textarea" name="textarea" placeholder="Мне понравилось"
                                                          rows="5"></textarea>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form__buttons">

                                        <div class="form__controls-area">
                                            <div class="form-controls">
                                                <div class="form-controls__title">Отображать фото в отзыве?</div>
                                                <div class="form-controls__buttons">

                                                    <label class="form-controls__btn">
                                                        <input type="radio" name="answer" class="form-controls__real-radio">
                                                        <div class="form-controls__fake-radio"></div>
                                                        <div class="form-controls__btn-title">Да</div>
                                                    </label>

                                                    <label class="form-controls__btn">
                                                        <input type="radio" name="answer" class="form-controls__real-radio">
                                                        <div class="form-controls__fake-radio"></div>
                                                        <div class="form-controls__btn-title">Нет</div>
                                                    </label>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="form__buttons-area">
                                            <div class="form__buttons-item">
                                                <button type="submit" class="btn">Отправить</button>
                                            </div>
                                        </div>

                                    </div>

                                </form>
                            </section>
                        </div>
                    </div>

                </div>
                <!--Закрывает page-content>-->
            </div>
            <!--Закрывает container-->
        </div>
        <!--Закрывает wrapper__content-->
    </div>

    {% block footer %}
        {{ parent() }}
    {% endblock footer %}

{% endblock body %}


