.section-banner {
  background: #27273e;
}

.banner {
  display: flex;
  height: 359px;
  background: #27273e;
  margin-top: -36px;
  margin-bottom: 56px;
  justify-content: center;
}

.banner__img {
  align-items: flex-start;
  height: 359px;
  background: #27273e;
}