.form-review__container {
  margin: 0 auto 50px;
  width: 1100px;
  height: 100%;
  font-weight: 300;
  font-size: 14px;
  display: flex;
  justify-content: center;
}

.form-review-section {
  box-sizing: border-box;
  height: 427px;
  background: #f5f5f5;
  border-radius: 4px;
}

.form-review__form {
  width: 561px;
  height: 327px;
  margin: 37px 69px;
}

.form-review__wrapper {
  display: flex;
  flex-direction: column;
}

.form-review__introduce .form-review__item {
  width: 49%;
}

.form-review__item {
  width: 100%;
}

.form-review__part {
  margin-bottom: 17px;
}

.form-review__introduce {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-review__label {
  margin-bottom: 5px;
}

.form-review__input {
  display: flex;
  border: none;
  height: 45px;
  width: 100%;
  padding: 16px 10px;
  border-radius: 4px;
  outline: none;
}

input.form-review__text {
  min-height: 90px;
}

textarea.form-review__textarea {
  min-height: 90px;
  resize: none;
}

.form-review__radio-title {
  margin-bottom: 5px;
}

.form-review__input:focus {
  color: black;
  padding: 7px;
  border: 1px solid #ec1e79;
  overflow: auto;
}



.form-review__radio-button {
  display: none;
}

.form-review__radio-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  background: url(../../img/decor/form/radio-unchecked.png) left top no-repeat;
  cursor: pointer;
  border-radius: 3px;
}

.form-review__radio-button:checked~.form-review__radio-icon {
  background: url(../../img/decor/form/radio-checked.png) left top no-repeat;
}

.form-review__radio-title~label {
  cursor: pointer;
  margin-right: 16px;
}


.form-review__buttons {
  display: flex;
  justify-content: space-between;
}

.form-review__button-area {
  width: 139px;
  height: 45px;
  background-color: #27273e;
  cursor: pointer;
}

.form-review__button-area:hover {
  background-color: #ec1e79;
}

.form-review__button {
  display: flex;
  font-weight: bold;
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0 auto;
  vertical-align: center;
  margin-top: 19px;
}