.form-review__container {
  margin: 0 auto 50px;
  width: 1100px;
  height: 100%;
  font-weight: 300;
  font-size: 14px;
}

.form-review-section {
  display: inline-block;
  box-sizing: border-box;
  height: 427px;
  width: 700px;
  background: #f5f5f5;
  margin-left: 18%;
  border-radius: 4px;
}

.form-review__full-form {
  width: 561px;
  height: 327px;
  margin: 37px 69px;
}

.form-review__list {
  display: flex;
  flex-direction: column;
}

.form-review__introduce .form-review__item {
  width: 49%;
}

.form-review__item {
  width: 100%;
}

.form-review__part {
  margin-bottom: 17px;
}

.form-review__introduce {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-review__label {
  margin-bottom: 5px;
}

.form-review__input {
  display: flex;
  border: none;
  height: 45px;
  width: 100%;
  padding: 16px 10px;
  border-radius: 4px;
  outline: none;
}

input.form-review__text {
  min-height: 90px;
}

textarea.form-review__textarea {
  min-height: 90px;
  resize: none;
  /* margin-bottom: 150px; */
}

.form-review__radio-title {
  margin-bottom: 5px;
}

.form-review__input:focus {
  color: black;
  padding: 7px;
  border: 1px solid #ec1e79;
  overflow: auto;
}

.form-review__buttons {
  display: flex;
}

.form-review__radio {
  width: 77%;
  position: relative;
}

.form-review__button-area {
  width: 25%;
}

.form-review__radio-button {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin-right: 5px;
}

.form-review__radio-button+label {
  position: relative;
  padding-left: 26px;
  margin-right: 11px;
  top: -1px;
  left: 1px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
}

.form-review__radio-button+label:before {
  content: '';
  position: absolute;
  top: -1px;
  left: 1px;
  width: 19px;
  height: 19px;
  border: 1px solid grey;
  border-radius: 50%;
  background: #FFF;
}

.form-review__radio-button+label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 7px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #ec1e79;
  opacity: 0;
  transition: .2s;
}

.form-review__radio-button:checked+label:after {
  opacity: 1;
  color: red;
}

.form-review__radio-button:checked+label {
  color: #ec1e79;
}

/*попытка сделать radio фоновым изображением

.form-review__radio-button {
  display:none;
}

 .form-review__radio-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  background: url(../../img/decor/form/radio-unchecked.png) left top no-repeat;
  cursor:pointer;
  border-radius: 3px;
}

.form-review__radio-icon:checked + label.form-review__radio-button {
  background: url(../../img/decor/form/radio-checked.png) left top no-repeat;
} */

.form-review__button-area {
  width: 139px;
  height: 45px;
  background-color: #27273e;
  }

  .form-review__button {
    display: block;
    font-weight: bold;
    color: #fff;
    /* line-height: 4.5em; */
    font-size: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin: 0 auto;
    vertical-align: center;
    margin-top: 19px;
  }