.header {
  background: #27273e;
  margin-bottom: 36px;
}

.header__container {
  display: flex;
  position: relative;
  padding: 5px 20px;
  flex-wrap: wrap;
}

.header__col {
flex: 1;
display: flex;
align-items: center;
}

.header__col_align-right {
  justify-content: flex-end;
  /* flex-wrap: wrap; */
}

.header__col-banner {
  width: 1100px;
}

