.sidebar {
  display: flex;
  width: 18%;
}

.menu__list {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}

.menu__link {
  display: inline-block;
  color: #ec1e79;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.menu__item {
  margin-bottom: 28px;
}

.menu__link:hover {
  color: #000;
}

.menu__link:before {
  content: "";
  display: inline-block;
  background: center center no-repeat;
  vertical-align: top;
  width: 22px;
  height: 18px;
  margin-right: 14px;
  margin-left: 19px;
}

.menu__link:after {
  content: "";
  display: inline-block;
  background: center center no-repeat;
  vertical-align: top;
  width: 23px;
  height: 18px;
  margin-left: -72%;
}

.menu__item_active .menu__link {
  color: #000;
}

.menu__link:after,
.menu__link {
  transition: 0.5s ease-out;
}

.menu__link:hover:after {
  opacity: 0;
}

.menu__link_main:after {
  background-image: url('../../img/icons/menu/main.png');
}

.menu__link:after {
  background-color: white;
}

.menu__link_main:before,
.menu__link_main:hover:before,
.menu__item_active .menu__link_main:after {
  background-image: url('../../img/icons/menu/main-active.png');
}

.menu__link_feed:after {
  background-image: url('../../img/icons/menu/feed.png');
}

.menu__link_feed:before,
.menu__link_feed:hover:before,
.menu__item_active .menu__link_feed:after {
  background-image: url('../../img/icons/menu/feed-active.png');
}

.menu__link_wallet:after {
  background-image: url('../../img/icons/menu/wallet.png');
}

.menu__link_wallet:before,
.menu__link_wallet:hover:before,
.menu__item_active .menu__link_wallet:after {
  background-image: url('../../img/icons/menu/wallet-active.png');
}
