.news-section {
  /* display: inline-block; */
  vertical-align: top;
}

.news__item {
  display: inline-block;
  width: 880px;
  text-align: left;
  /* position: relative; */
  margin: 22px -4px;
  border-bottom: 2px solid #f5f5f5;
}

li.news__item:last-child {
  border: none;
}

.news__thumb {
  display: inline-block;
  width: 160px;
}

.news__thumb-pic {
  display: inline-block;
  width: 160px;
  border-radius: 50%;
  
}

.news__content {
  font-family: 'Roboto', Helvetica, sans-serif;
  display: inline-block;
  /* position: relative; */
  left: 15px;
  vertical-align: top;
  top: -5px;
  width: 700px;
  font-size: 18px;
}

time.news__date {
  color: #656464;
  font-size: 14px;
  line-height: 1.42;
}

.news__author {
  line-height: 1.42;
  font-weight: bold;
  margin-bottom: 7px;
}

.news__text {
  line-height: 1.52;
  font-weight: 300;
  line-height: 1.7;
}
