.partners__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 43px;
}

.partners__item {
  /* width: 33.3%; */
  flex: 1 0 220px;
  margin-bottom: 50px;
}

.partners__link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.partners__logo {
  display: flex;
}

.partners__logo-pic {
  min-width: 100%;
  min-height: 100%;
  filter: grayscale(100%);
}

.partners__logo-pic:hover {
  content: "";
  filter: grayscale(0);
}