.title {
  margin: 0 0 37px 0;
  font-family: "GothamPro", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 49px;
}

.reviews__title {
  margin-bottom: 30px;
}

.news__title {
margin-bottom: 60px;
}

.form-review__title {
  margin-bottom: 8px;
}

.features__title {
  margin-top: 5px;
}

.transparent-marg { /*костыль*/
  width: 100%;
  height: 18px;
 }