.title {
  margin: 0 0 37px 0;
  font-family: "GothamPro", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 49px;
}

.reviews__title {
  margin-bottom: 30px;
}

.news__title {
margin-bottom: 60px;
}

.form-review__title {
  margin-bottom: 8px;
}

.features__title {
  margin-top: 5px;
}

 .title__sidebar {
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  margin: 8% auto 13%;
 }

 .title_lastnews {
   margin-top: -2%;
   margin-bottom: 7%;
 }